{% extends 'rjd_layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    批量上传
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" action="/rjd/account_receivable/multi/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="exc">
                        </div>
                        <input type="submit" value="上传" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    新建、查询
                </div>
                <div class="panel-body">
                    <div style="margin-bottom: 7px">
                        <a class="btn btn-success" href="/rjd/account/receivable/add/">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            新建应收账目
                        </a>
                    </div>
                    <div tyle="margin-bottom: 7px">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" name="q" class="form-control" placeholder="输入供应商"
                                           value="{{ search_data }}">
                                </div>
                                <div class="col-sm-3">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                应收账目列表
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>日期</th>
                    <th>客户</th>
                    <th>品名</th>
                    <th>型号</th>
                    <th>数量</th>
                    <th>总价</th>
                    <th>已付款</th>
                    <th>尾款</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                    <td>{{ obj.custom.company_name }}</td>
                    <td>{{ obj.product_name }}</td>
                    <td>{{ obj.product_model }}</td>
                    <td>{{ obj.quantity }}</td>
                    <td>{{ obj.total_price }}</td>
                    <td>{{ obj.paid }}</td>
                    <td>{{ obj.final_payment }}</td>
                     <td>
                        <a class="btn btn-primary btn-xs" href="/rjd/account/receivable/{{ obj.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/rjd/account/receivable/{{ obj.id }}/delete/">删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
</div>
{% endblock %}
