{% extends 'rjd_layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    批量上传
                </div>
                <div class="panel-body">
                    <form method="post" enctype="multipart/form-data" action="/rjd/account_pri/multi/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="exc">
                        </div>
                        <input type="submit" value="上传" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    新建、查询
                </div>
                <div class="panel-body">
                    <a class="btn btn-success" href="/rjd/account/pri/add/">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        新建对私账目
                    </a>
                    <form style="display:inline" method="get">
                        <select name="year">
                            <option>{{ search_year }}</option>
                            <option value="2022" style="color: violet;">2022年</option>
                            <option value="2023" style="color: blue;">2023年</option>
                            <option value="2024" style="color: black;">2024年</option>
                            <option value="2025" style="color: green;">2025年</option>
                            <option value="2026" style="color: red;">2026年</option>
                            <option value="2027" style="color: red;">2027年</option>
                            <option value="2028" style="color: red;">2028年</option>
                            <option value="2029" style="color: red;">2029年</option>
                            <option value="2030" style="color: red;">2030年</option>
                            <option value="2031" style="color: red;">2031年</option>
                            <option value="2032" style="color: red;">2032年</option>
                            <option value="2033" style="color: red;">2033年</option>
                        </select>
                        <select name="month">
                            <option>{{ search_month }}</option>
                            <option value="1" style="color: red;">一月</option>
                            <option value="2" style="color: red;">二月</option>
                            <option value="3" style="color: red;">三月</option>
                            <option value="4" style="color: red;">四月</option>
                            <option value="5" style="color: red;">五月</option>
                            <option value="6" style="color: red;">六月</option>
                            <option value="7" style="color: red;">七月</option>
                            <option value="8" style="color: red;">八月</option>
                            <option value="9" style="color: red;">九月</option>
                            <option value="10" style="color: red;">十月</option>
                            <option value="11" style="color: red;">十一月</option>
                            <option value="12" style="color: red;">十二月</option>
                        </select>
                        <button class="btn btn-default" type="submit">
                            时间段查询
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>

                    </form>
                    <div style="margin-top: 7px">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" name="q" class="form-control" placeholder="输入供应商"
                                           value="{{ search_data }}">
                                </div>
                                <div class="col-sm-3">
                                    <input id="rjd_date" type="text" name="d" class="form-control"
                                           placeholder="起始日期" autocomplete="off"
                                           value="{{ search_date }}">
                                </div>
                                <div class="col-sm-3">
                                    <input id="rjd_date2" type="text" name="d2" class="form-control"
                                           placeholder="截止日期" autocomplete="off"
                                           value="{{ search_date2 }}">
                                </div>
                                <div class="col-sm-3">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            时间段查询
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                对私账目列表
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>日期</th>
                    <th>供应商</th>
                    <th>品名</th>
                    <th>单价</th>
                    <th>总价</th>
                    <th>备注</th>
                    <th>图片说明</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                    <td>{{ obj.supplier }}</td>
                    <td>{{ obj.product_name }}</td>
                    <td>{{ obj.unit_price }}</td>
                    <td>{{ obj.total_price }}</td>
                    <td>{{ obj.remark }}</td>
                    <td>
                        <img src="/media/{{ obj.img }}" style="height:30px;">
                    </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/rjd/account/pri/{{ obj.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/rjd/account/pri/{{ obj.id }}/delete/">删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
</div>
{% endblock %}
