{% extends 'sky_layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                    运行效率
                </div>
                <div class="panel-body">
                    <div id="m1" style="width:100%;height:450px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    运行状态
                </div>
                <div class="panel-body">
                    <div id="m4" style="width:100%;height:450px;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>信息</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>系统状态</th>
                                <td>
                                    <text id="eq_status"></text>
                                </td>
                            </tr>
                            <tr>
                                <th>运行模式</th>
                                <td>
                                    <text id="eq_work_status"></text>
                                </td>
                            </tr>
                            <tr>
                                <th>工单数</th>
                                <td>
                                    <text id="eq_order"></text>个
                                </td>
                            </tr>
                            <tr>
                                <th>报警代码</th>
                                <td>
                                    <text id="eq_error"></text>
                                </td>
                            </tr>
                            <tr>
                                <th>当前产量</th>
                                <td>
                                    <text id="eq_output_now"></text>个
                                </td>
                            </tr>
                            <tr>
                                <th>总产量</th>
                                <td>
                                    <text id="eq_output_total"></text>个
                                </td>
                            </tr>
                            <tr>
                                <th>X轴设置速度</th>
                                <td>
                                    <text id="eq_xspeed"></text>_mm/s
                                </td>
                            </tr>
                            <tr>
                                <th>Y轴设置速度</th>
                                <td>
                                    <text id="eq_yspeed"></text>_mm/s
                                </td>
                            </tr>
                            <tr>
                                <th>Z轴设置速度</th>
                                <td>
                                    <text id="eq_zspeed"></text>_mm/s
                                </td>
                            </tr>
                            <tr>
                                <th>C轴设置速度</th>
                                <td>
                                    <text id="eq_cspeed"></text>_ang/s
                                </td>
                            </tr>
                            <tr>
                                <th>R轴设置速度</th>
                                <td>
                                    <text id="eq_rspeed"></text>_ang/s
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
                    周产量
                </div>
                <div class="panel-body">
                    <div id="m2" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>
                    开机状态
                </div>
                <div class="panel-body">
                    <div id="m3" style="width:100%;height:400px;"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="bs-example" data-example-id="table-within-panel">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                注塑机实时状态信息
            </div>
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>系统状态</th>
                    <th>运行状态</th>
                    <th>报警代码</th>
                    <th>当前产量</th>
                    <th>工单数</th>
                    <th>总产量</th>
                    <th>x设置速度</th>
                    <th>y设置速度</th>
                    <th>z设置速度</th>
                    <th>c设置速度</th>
                    <th>r设置速度</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>
                    <td>{{ obj.sys_status }}</td>
                    <td>{{ obj.work_status }}</td>
                    <td>{{ obj.work_error }}</td>
                    <td>{{ obj.work_output }}</td>
                    <td>{{ obj.work_order }}</td>
                    <td>{{ obj.total_output }}</td>
                    <td>{{ obj.x_speed }}</td>
                    <td>{{ obj.y_speed }}</td>
                    <td>{{ obj.z_speed }}</td>
                    <td>{{ obj.c_speed }}</td>
                    <td>{{ obj.r_speed }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="#">详情</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/robot_chart.js' %}"></script>
{% endblock %}